<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="PowerServer.ServerBll.PowerService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8888/PowerServer"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="PowerServer.ServerAil.IPowerService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
