<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="PowerService" address="net.tcp://localhost:8888/PowerServer" binding="netTcpBinding" contract="PowerServer.ServerAil.IPowerService" />
    </client>
  </system.serviceModel>
</configuration>